* {
  box-sizing: border-box;
}
body {
  font-family: cursive;
  margin: 0;
  padding: 0;
}
.header {
	background-color: darkseagreen;
	color: white;
	padding: 50px;
	text-align: center;
}
.navbar {
	display: flex;
	background-color: darkgreen;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}
.row {  
  display: flex;
  flex-wrap: wrap;
}
.image {  
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
.footer {
  padding: 25px;
  color: white;
  text-align: center;
  background: darkseagreen;
}
